//nesting--anidacion

.botones{
    background-image: url(../IMG/sunset.jpg);
    ul{
        li{
            a{
                font-size: 1.4 em;
                color: black;
                font-weight: bold;
            }
        }
    }
}

.main{
    article{
        img{
            @include imagen (576px){
                width: 90%;}
            @include imagen(768px){
                width: 90%;
            }
            @include imagen(992px){
                width: 90%;
            }
        }
    }
}
.color{
    background-color: rgb(99, 98, 98);
    a{
        font-size: 20px;
        color: white;
    }
}


.navbar-brand{
    font-size: 20px;
}

