// variables globales

$mainFont: 'Trebuchet MS', sans-serif;
$mainColor: rgb(238, 238, 238);
$footerColor: gray;
$imgBackground: url(../IMG/sunset.jpg);
$carousel-transition: transform 2s ease, opacity .5s ease-out;